* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: silver;
}

header {
  background-color:#1876F3;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren";
  font-weight: 200;
}



.content {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.content h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.content p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.content button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #1876F3;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

form {
  position: relative;
  width: 580px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 45px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form textarea {
  margin-bottom: 60px;
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.b-1 {
  position: absolute;
  left: 10px;
  bottom: 18px;
  background: black;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}


.b-2 {
  position: absolute;
  right: 18px;
  bottom: 18px;
  background: #1876F3;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}


.img{
width: 70px;
margin-bottom: 30px;
}

/* Pop up */


.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
  background: black;
  color: #fff;
}

.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.overlay {
  background: silver;
}
.modal-content {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 1000px;
  min-width: 1000px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 5px;
  background-color: black;
  color: white;
}

   /* gifs */

 
  
  .gifs {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gif {
    padding: 0 2px;
  }